/* Relicat to delete */

.schudelu-events-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.schudelu-event-lite {
  padding: 2rem;
}

.schudelu-event-lite-title {
  text-align: center;
}

.schudelu-event-lite-actions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schudelu-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.schudelu-space-between {
  justify-content: space-between;
}

.schudelu-message {
    border: 0.1rem solid;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.schudelu-message.success {
  background-color: #5dd39e;
  border-color: #5dd39e;
}

.schudelu-message.error {
  background-color: #ef5424;
  border-color: #ef5424;
}
